{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">Booking tickets has never been this easy!</h4>
                <h1 class="mb-5 display-3 text-primary">Event Management And Ticket Booking</h1>
            </div>
        </div>
    </div>
</div>

    {% set upcomingEvents = [] %}
    {% for event in events %}
        {% if event.startSellTime|date('U') > "now"|date('U') %}
            {% set upcomingEvents = upcomingEvents|merge([event]) %}
        {% endif %}
    {% endfor %}

    {% if upcomingEvents|length > 0 %}
        {% include 'home/eventSection.html.twig' %}
    {% endif %}

    {% for category in categories %}
        {% set currentEvents = [] %}
        {% if eventsByCategory[category.name] is defined %}
            {% for event in eventsByCategory[category.name] %}
                {% if event.startSellTime|date('U') <= "now"|date('U') and event.eventDate|date('U') >= "now"|date('U') %}
                    {% set currentEvents = currentEvents|merge([event]) %}
                {% endif %}
            {% endfor %}
            {% if currentEvents|length > 0 %}
                {% include 'home/eventCarousel.html.twig' %}
            {% endif %}
        {% endif %}
    {% endfor %}

{% include 'home/facts.php' %}
{% include 'home/devs.html.twig' %}

{% endblock %}
