<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<title>{% block title %}Welcome!{% endblock %}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap">

<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/lib/lightbox/css/lightbox.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/lib/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/CSS/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/CSS/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/CSS/customerSupportStyleSheet.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/CSS/notif.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/CSS/profileStyleSheet.css">

{% block stylesheets %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform@master/Static/JS/customerSupportScript.js"> </script>
<script src="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/JS/editProfileScript.js"> </script>
<script src="https://cdn.jsdelivr.net/gh/Ostrobogulous/ticketing-platform/Static/JS/notificationsScript.js"> </script>


{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}