<!DOCTYPE html>
<html>
<head>
    {% include 'sections/header.html.twig' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% include 'sections/spinner.php' %}

{% include 'sections/navbar.html.twig' %}

{% include 'sections/modalsearch.html.twig' %}

{% block body %}{% endblock %}

{% include 'sections/footer.html.twig' %}

{% include 'sections/copyrights.php' %}

{% include 'sections/backtotop.php' %}

{% include 'sections/scripts.php' %}
